NODE_ENV=development
MONGODB_URI=mongodb://host.docker.internal:27017/ccw?replicaSet=rs0
REDIS_URL=redis://host.docker.internal:6379
AUTH_SECRET=your_auth_secret
AUTH_MICROSOFT_ENTRA_ID_ID=your_client_id
AUTH_MICROSOFT_ENTRA_ID_SECRET=your_client_secret
AUTH_MICROSOFT_ENTRA_ID_ISSUER=https://login.microsoftonline.com/your_tenant_id/v2.0
