NODE_ENV=development
PORT=3077

MONGODB_URI=mongodb://host.docker.internal:27017/ccw?replicaSet=rs0
REDIS_URL=redis://host.docker.internal:6379

AUTH_SECRET=your_auth_secret
BASE_URL=http://localhost:3000
# Comma-separated list of origins to trust
#TRUSTED_ORIGINS=https://www.yourdomain.com,https://yourdomain.com

# Microsoft Graph API
AZURE_CLIENT_ID=your_azure_client_id
AZURE_CLIENT_SECRET=your_azure_client_secret
AZURE_TENANT_ID=your_azure_tenant_id

# File storage
# Absolute path to directory where files are stored, defaults to ./uploads if unset
# Ensure directory is writable by Node process
FILE_UPLOAD_DIR=/var/ccw/uploads
