# Environment
.env
.env*.local

# Dependencies
node_modules/

# Debug
.log*

# NextJS
.next/
out/
build/

# Typescript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.pem
.gemini

# File uploads
uploads/
