# Environment
.env
.env*.local

# Dependencies
node_modules/

# Debug
.log*
backup

# NextJS
.next/
out/
build/
coverage/
playwright-report/
test-results/

# Typescript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.pem
.direnv/

# File uploads
uploads/
